baseurl = "https://sttmt.netlify.com"
languageCode = "en"
title = "CONSERVATION STATUS"
theme = "kiss"
copyright = "&copy; <a href=\"https://github.com/ribice\">Emir Ribic</a> 2017"
#disqusShortname = "shortname"
#googleAnalytics = ""
# Number of posts per page
Paginate = 5
enableRobotsTXT = true


[params.assets]
customCSS = ["css/custom.css"]

[params.info]
#adsense = "" # Adsense ID (ID only, without ca-pub-)
#enableSocial = true # Adds OpenGraph and Twitter cards
homeTitle = "You are disturbing me. I am picking mushrooms." # Title for home page
poweredby = true # Adds powered by Hugo and Kiss below Copyright section
related = true # Includes related articles

#[params.opengraph.facebook]
#admins = [] # array of Facebook IDs
#appID = ""
#pageID = ""

#[params.opengraph.twitter]
#page = "" # Twitter Page username. If not set, params.social.twitter will be used.

#[params.social]
#twitter = "ribicemir"
#github = "ribice"
#email = "ribice@gmail.com"
#linkedin = "ribice"
#facebook = "ribice"
#instagram = ""
#codepen = ""

[params.sections_right]
"https://sttmt.netlify.com/pages/search/" = "SEARCH"

[taxonomies]
tag ="tags"

[blackfriday]
hrefTargetBlank = true

[outputFormats.Algolia]
baseName = "algolia"
isPlainText = true
mediaType = "application/json"
noAlternative = true

[params.algolia]
vars = ["title", "content", "date", "dateString", "publishdate", "permalink"]
params = ["tags"]

[outputs]
home = ["HTML", "RSS", "algolia"]

[privacy]
  [privacy.disqus]
    disable = false
  [privacy.googleAnalytics]
    anonymizeIP = false
    disable = false
    respectDoNotTrack = false
    useSessionStorage = false
  [privacy.instagram]
    disable = false
    simple = false
  [privacy.speakerDeck]
    disable = false
  [privacy.twitter]
    disable = false
    enableDNT = false
  [privacy.vimeo]
    disable = false
  [privacy.youtube]
    disable = false
    privacyEnhanced = false
